<app-nav></app-nav>

<div class="card text-center border-0 mt-5">
	<div class="bg-img">
		<br>
		<div id="caption" class="position-relative text-center text-light caption-text-fancy-2">Sea Shell
			<br>
			<h2>Restaurant</h2>
		</div>
	</div>

	<div class="card-body cursive">
		<h4 class="card-title blueviolet-text">Fresh, Hot &amp; Spicy</h4>
		<p class="card-text">
			Perfect fuel for foodies
		</p>
		<p class="card-text">
			Good Food for Good Moments.
		</p>
		<a [routerLink]="['/menu']" class="btn btn-primary">Go For Menu</a>
	</div>
</div>