<app-nav></app-nav>
<div class="row mt-5" *ngIf="loader">
	<div class="col-sm-12">
		<div class="d-flex justify-content-md-around mt-5">
			<app-loader></app-loader>
		</div>
	</div>
</div>
<div class="row my-5" *ngIf="loader == false">
	<div class="col-sm-12 mt-5">
		<div class="input-group mb-0 mr-sm-2 px-5 ml-2">
			<div class="input-group-prepend">
				<div class="input-group-text">Search Food</div>
			</div>
			<input type="text" class="form-control" (input)="searchProduct($event)">
  </div>


		</div>
		<div class="col-sm-12">
			<div class="d-flex flex-wrap justify-content-start">
				<ng-container *ngFor="let item of foodsMenu | searchProd : searched">
					<app-card class="mx-auto my-5" [foodData]="item" (selectionEmit)="captureSelectedFood($event)">
					</app-card>
				</ng-container>
			</div>
		</div>
	</div>