<nav class="navbar navbar-light bg-light fixed-top">
	<h5 class="d-flex justify-content-start py-2">
		<i class="fas fa-utensils blueviolet-text"></i> &nbsp;
		<span class="blueviolet-text cursive">SeaShell Restaurant</span>
	</h5>
	<div class="d-flex justify-content-end mr-3">
		<a class="text-decoration-none blueviolet-text cursive" routerLinkActive="active"
			[routerLink]="['/home']">Home</a>
		<a class="ml-3 text-decoration-none blueviolet-text cursive" routerLinkActive="active"
			[routerLink]="['/menu']">Menu</a>
		<a class="mx-3 text-decoration-none blueviolet-text cursive" routerLinkActive="active"
			[routerLink]="['/order']">Orders
		</a>
		<a class="text-decoration-none blueviolet-text cursive" routerLinkActive="active"
			[routerLink]="['/cart']">Cart<span
        *ngIf="cartCount>0"
        class="badge badge-danger position-relative my-cart"
        >{{cartCount}}</span></a>
	</div>
</nav>